@use '../helpers' as *;

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(48);

  @include tablet-s {
    margin-bottom: rem(32)
  }

  &__form {
    display: flex;
    gap: rem(16);
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: rem(526);
  }

  &__input {
    @include text-preset-5-medium;
    width: 100%;
    padding: rem(16) rem(24);
    background-color: var(--colors-neutral-800);
    color: var(--colors-neutral-0);
    border-radius: rem(12);
    transition-duration: var(--transition-duration);

//    padding-left: rem(56); // Место для иконки
//    background-image: url("../../assets/images/icon-search.svg");
//    background-repeat: no-repeat;
//    background-position: rem(24) center;

    &:hover {
      background-color: var(--colors-neutral-700);
    }

    &::placeholder {
      color: var(--colors-neutral-200);
      padding-left: rem(36);

      // Фоновая иконка
      background-image: url("../../assets/images/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 0 center; // Отступ слева
      background-size: rem(20) rem(20);
    }
  }

  &__button {
    @include text-preset-5-medium;
    padding: rem(16) rem(24);
    background-color: var(--colors-blue-500);
    color: var(--colors-neutral-0);
    border-radius: rem(12);
    border: none;
    transition-duration: var(--transition-duration);

    &:hover {
      background-color: var(--colors-blue-700);
    }

  }

  &__autocomplete {
    width: 100%;
  }
}