@use '../helpers' as *;

.search {
  display: flex;
  width: 100%;
  gap: rem(16);
  justify-content: center;
  align-items: center;
  margin-bottom: rem(48);

  @include tablet-s {
    margin-bottom: rem(32)
  }

  &__input {
    @include text-preset-5-medium;
    width: rem(526);
    padding: rem(16) rem(24);
    border: none;
    background-color: var(--colors-neutral-800);
    color: var(--colors-neutral-0);
    border-radius: rem(12);

//    padding-left: rem(56); // Место для иконки
//    background-image: url("../../assets/images/icon-search.svg");
//    background-repeat: no-repeat;
//    background-position: rem(24) center;

    &:hover {
      background-color: var(--colors-neutral-700);
    }

    &:focus {
      outline: 2px solid var(--colors-neutral-0);
      outline-offset: 2px;
    }

    &::placeholder {
      color: var(--colors-neutral-200);
      padding-left: rem(36);

      // Фоновая иконка
      background-image: url("../../assets/images/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 0 center; // Отступ слева
      background-size: rem(20) rem(20);
    }
  }

  &__button {
    @include text-preset-5-medium;
    padding: rem(16) rem(24);
    background-color: var(--colors-blue-500);
    color: var(--colors-neutral-0);
    border-radius: rem(12);
    border: none;

    &:hover {
      background-color: var(--colors-blue-700);
    }

    &:focus {
      outline: 2px solid var(--colors-blue-500);
      outline-offset: 2px;
    }
  }
}