@use "../helpers" as *;

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: var(--header-padding-top);
  background-color: inherit;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__button-wrapper {
    position: relative;
  }

  &__button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(16);
    color: inherit;
    font-weight: 500;
    column-gap: rem(10);
    background-color: var(--colors-neutral-800);
    border: none;
    border-radius: rem(8);
    cursor: pointer;

    &:hover {
      background-color: var(--colors-neutral-700);
    }

    @include mobile-s {
      font-size: rem(14);
      padding: rem(8) rem(10);
      column-gap: 8px;
      .units-button__settings-icon {
        width: rem(14);
        height: rem(14);
      }
      .units-button__arrow-icon {
        width: rem(9);
        height: rem(14);
      }
    }

    & span {
      display: flex;
      align-items: center;
      height: rem(19);
    }

  }

  &-dropdown__btn {
    display: block;
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: rem(10) rem(8);
    border-radius: 8px;

    &:hover {
      background-color: var(--colors-neutral-700);
    }
  }


  @include tablet {
    --header-padding-top: 24px;
  }

  @include mobile {
    --header-padding-top: 16px;
  }

  @include mobile-s {
    &__logo {
      margin-left: 0;
      align-self: flex-start;
      width: rem(138);
      height: rem(28);
    }
  }
}


//.units-button__menu {

//}
