@use "../helpers" as *;

.header {
  width: 100%;
  padding-top: var(--header-padding-top);
  background-color: inherit;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__button-wrapper {
    position: relative;
  }

  &__button {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(16);
    color: inherit;
    font-weight: 500;
    column-gap: rem(10);
    background-color: var(--colors-neutral-800);
    border: none;
    border-radius: rem(8);
    cursor: pointer;

    &:hover {
      background-color: var(--colors-neutral-700);
    }

    &:focus {
      outline: 2px solid var(--colors-neutral-0);
      outline-offset: 2px;
    }

    @include mobile-s {
      font-size: rem(14);
      padding: rem(8) rem(10);
      column-gap: 8px;
      .units-button__settings-icon {
        width: rem(14);
        height: rem(14);
      }
      .units-button__arrow-icon {
        width: rem(9);
        height: rem(14);
      }
    }

    & span {
      display: flex;
      align-items: center;
      height: rem(19);
    }

  }

  &-dropdown__btn {
    @include text-preset-7;
    display: block;
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: inherit;
    border: none;
    padding: rem(10) rem(8);
    border-radius: 8px;

    &:hover {
      background-color: var(--colors-neutral-700);
    }

    &:focus {
      outline: 1px solid var(--colors-neutral-0);
      outline-offset: 1px;
    }
  }

  &-dropdown__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
  }

  &-dropdown__section:not(:last-child) {
    padding-bottom: rem(4);
    border-bottom: var(--border);
  }

  &-dropdown__section-title {
    @include text-preset-8;
    color: var(--colors-neutral-300);
    padding: rem(6) 0 0 rem(8);
    margin-bottom: rem(8);
  }

  &-dropdown__section-item {
    @include text-preset-7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10) rem(8);

    &.selected {
      background-color: var(--colors-neutral-700);
      width: 100%;
      border-radius: 8px;

      &::after {
        content: '';
        display: inline-block;
        width: rem(14);
        height: rem(17);
        background-image: url("../../assets/images/icon-checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }


  }


  @include tablet-s {
    --header-padding-top: 24px;
  }

  @include mobile {
    --header-padding-top: 16px;
  }

  @include mobile-s {
    &__logo {
      margin-left: 0;
      align-self: flex-start;
      width: rem(138);
      height: rem(28);
    }
  }
}


//.units-button__menu {

//}
