@use "../mixins" as *;

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: var(--header-padding-top);

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    color: inherit;
    font-weight: 500;
    column-gap: 10px;
    background-color: var(--colors-neutral-800);
    border: none;
    border-radius: 8px;

    @include mobile-s {
      font-size: 14px;
      padding: 8px 10px;
      column-gap: 8px;
      &-icon {
        width: 14px;
        height: 14px;
      }
      &-arrow {
        width: 9px;
        height: 14px;
      }
    }

    & span {
      display: flex;
      align-items: center;
      height: 19px;
    }

  }


  @include tablet {
    --header-padding-top: 24px;
  }

  @include mobile {
    --header-padding-top: 16px;
  }

  @include mobile-s {
    &__logo {
      margin-left: 0;
      align-self: flex-start;
      width: 138px;
      height: 28px;
    }
  }
}



