@use 'helpers' as *;

:root {
  //используемые шрифты
  --font-family-base: "DM Sans", sans-serif;
  --font-family-accent: "Bricolage Grotesque", sans-serif;

  //цвета
  --colors-neutral-0: #ffffff;
  --colors-neutral-200: #D4D3D9;
  --colors-neutral-300: #ACACB7;
  --colors-neutral-600: #3C3B5E;
  --colors-neutral-700: #302F4A;
  --colors-neutral-800: #262540;
  --colors-neutral-900: #02012C;

  --color-blue-500: #4658D9;
  --color-blue-700: #2B1B9C;

  --color-orange-500: #FF820A;

  --container-width: 1248px;
  --container-padding-x: 24px;
  --header-padding-top: 48px;

  --transition-duration: 0.2s;

  --border: 1px solid var(--colors-neutral-600);
}