@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../../assets/fonts/BricolageGrotesque-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DMSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DMSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-base: "DM Sans", sans-serif;
  --font-family-accent: "Bricolage Grotesque", sans-serif;
  --colors-neutral-0: #ffffff;
  --colors-neutral-200: #D4D3D9;
  --colors-neutral-300: #ACACB7;
  --colors-neutral-600: #3C3B5E;
  --colors-neutral-700: #302F4A;
  --colors-neutral-800: #262540;
  --colors-neutral-900: #02012C;
  --colors-blue-500: #4658D9;
  --colors-blue-700: #2B1B9C;
  --color-orange-500: #FF820A;
  --container-width: 1248px;
  --container-padding-x: 24px;
  --header-padding-top: 48px;
  --transition-duration: 0.2s;
  --border: 1px solid var(--colors-neutral-600);
}

input,
button,
a {
  outline: none;
  border: none;
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--colors-neutral-0);
  outline-offset: 2px;
}

body {
  font-family: var(--font-family-base);
  color: var(--colors-neutral-0);
  background-color: var(--colors-neutral-900);
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  transition-duration: var(--transition-duration);
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
@media (width <= 375px) {
  .container {
    --container-padding-x: 16px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.dropdown {
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: calc(100% + 10px);
  background-color: var(--colors-neutral-800);
  border: var(--border);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity var(--transition-duration), visibility var(--transition-duration), transform var(--transition-duration);
}

.dropdown-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

main {
  flex: 1;
}

.main__title {
  font-family: var(--font-family-accent);
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: var(--colors-neutral-0);
  margin-block: 4rem;
}
@media (width <= 768px) {
  .main__title {
    width: 30.125rem;
    margin-block: 3rem;
  }
}
@media (width <= 480.98px) {
  .main__title {
    width: 100%;
  }
}

.attribution {
  font-family: var(--font-family-base);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-block: 1rem;
}
.attribution a {
  color: var(--color-orange-500);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
.attribution a:visited {
  color: #D96E08;
}
@media (width <= 768px) {
  .attribution {
    flex-direction: column;
    gap: 0.375rem;
    align-items: center;
  }
}

.header {
  width: 100%;
  padding-top: var(--header-padding-top);
  background-color: inherit;
}
.header__body {
  display: flex;
  justify-content: space-between;
}
.header__button-wrapper {
  position: relative;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  color: inherit;
  font-weight: 500;
  column-gap: 0.625rem;
  background-color: var(--colors-neutral-800);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.header__button:hover {
  background-color: var(--colors-neutral-700);
}
.header__button:focus {
  outline: none;
  border: none;
}
.header__button:focus-visible {
  outline: 2px solid var(--colors-neutral-0);
  outline-offset: 2px;
}
@media (width <= 375px) {
  .header__button {
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    column-gap: 8px;
  }
  .header__button .units-button__settings-icon {
    width: 0.875rem;
    height: 0.875rem;
  }
  .header__button .units-button__arrow-icon {
    width: 0.5625rem;
    height: 0.875rem;
  }
}
.header__button span {
  display: flex;
  align-items: center;
  height: 1.1875rem;
}
.header-dropdown {
  width: 13.375rem;
}
.header-dropdown__btn {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  display: block;
  width: 100%;
  text-align: left;
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0.625rem 0.5rem;
  border-radius: 8px;
  transition-duration: var(--transition-duration);
}
.header-dropdown__btn:hover {
  background-color: var(--colors-neutral-700);
}
.header-dropdown__btn:focus-visible {
  outline: 1px solid var(--colors-neutral-0);
  outline-offset: 1px;
}
.header-dropdown__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.header-dropdown__section:not(:last-child) {
  padding-bottom: 0.25rem;
  border-bottom: var(--border);
}
.header-dropdown__section-title {
  font-family: var(--font-family-base);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--colors-neutral-300);
  padding: 0.375rem 0 0 0.5rem;
  margin-bottom: 0.5rem;
}
.header-dropdown__section-item {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.5rem;
}
.header-dropdown__section-item.selected {
  background-color: var(--colors-neutral-700);
  width: 100%;
  border-radius: 8px;
}
.header-dropdown__section-item.selected::after {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 1.0625rem;
  background-image: url("../../assets/images/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (width <= 768px) {
  .header {
    --header-padding-top: 24px;
  }
}
@media (width <= 480.98px) {
  .header {
    --header-padding-top: 16px;
  }
}
@media (width <= 375px) {
  .header__logo {
    margin-left: 0;
    align-self: flex-start;
    width: 8.625rem;
    height: 1.75rem;
  }
}

.search {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (width <= 768px) {
  .search {
    margin-bottom: 2rem;
  }
}
.search__form {
  display: flex;
  gap: 1rem;
}
.search__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32.875rem;
}
.search__input {
  font-family: var(--font-family-base);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--colors-neutral-800);
  color: var(--colors-neutral-0);
  border-radius: 0.75rem;
  transition-duration: var(--transition-duration);
}
.search__input:hover {
  background-color: var(--colors-neutral-700);
}
.search__input::placeholder {
  color: var(--colors-neutral-200);
  padding-left: 2.25rem;
  background-image: url("../../assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 1.25rem 1.25rem;
}
.search__button {
  font-family: var(--font-family-base);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 1rem 1.5rem;
  background-color: var(--colors-blue-500);
  color: var(--colors-neutral-0);
  border-radius: 0.75rem;
  border: none;
  transition-duration: var(--transition-duration);
}
.search__button:hover {
  background-color: var(--colors-blue-700);
}
.search__autocomplete {
  width: 100%;
  margin-top: 0.25rem;
}
.search__autocomplete-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.search__autocomplete-item {
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  width: 100%;
  padding: 0.625rem 0.5rem;
}
.search__autocomplete-item:hover {
  background-color: var(--colors-neutral-700);
  border-radius: 8px;
  outline: 1px solid var(--colors-neutral-600);
}

/*# sourceMappingURL=main.css.map */
